@page
@model GenShinModel

@{
    ViewData["Title"] = "原神";
}

<div>
    <a asp-area="" asp-page="Index">return</a>
    <br/>
    <h1>form @Model.text</h1>
    
    <form method="post">
        <label>Username: <input asp-for="Users!.Username" name="username" type="text"/></label><br/>
        <label>Password: <input  asp-for="Users!.Password" name="password" type="password"/></label><br/>
        <input type="submit" value="Login"/>
    </form>
</div>
<hr/>
    @Model.a<br/>
    @Model.b<br/>
