@page

@using MyHomepage.Models
@model KafkaModel


@{
    ViewData["Title"] = "Kafka";
}

<div>
    <a asp-area="" asp-page="Index">return</a>
    <br/>
    <h1>form test</h1>
    <hr/>
    <p>
	    @Model._username<br/>
	    @Model._password<br/>
    </p>
</div>