@page
@model KrrModel
@{
    ViewData["Title"] = "克拉拉保护协会";
}

<!--
<div class="main_div_text">
    <p>星穹铁道id:102096020</p>
    <h1 class="text_mid">《「克拉拉保护协会」成员火热募集中》</h1>
    <h1 class="text_mid">!!「克拉拉保护协会」成员火热募集中!！</h1>
    <h1 class="text_mid">～保护、保护，除了保护还是保护～</h1>
    <h2 class="text_mid">【什么是「克拉拉保护协会」?】</h2>
    本协会全称为「为报答克拉拉小姐对流浪者营地全体居民的无私帮助克拉拉小姐的笑容就由我们来保护协会」，简称「克拉拉保护协会」。
    <br/>
    <h2 class="text_mid">【成立本协会的目标是？】</h2>
    <p>
        本协会旨在回报克拉拉小姐在日常生活中照顾全体流浪者的饮食起居、治愈我们疲惫身心等种种如天使一般的行为。
    </p>
    <p>
        因此，我们身为成年人，更应该﹣﹣少给克拉拉小姐添麻烦；多帮克拉拉小姐做事；
        让克拉拉小姐快乐成长，成为克拉拉小姐真正的家人；守护克拉拉小姐纯真的笑容；
        守护克拉拉小姐天籁般的声音；守护克拉拉小姐金子一般的心；
        虽然克拉拉小姐一向不擅长应对过于激烈的感激之情，总是害羞地低着头，但我们是不会因此停下来的。
    </p>
    <br/>
    <h2 class="text_mid">【加入本协会，你能得到什么？】</h2>
    <ol>
        加入本协会，你能够：
        <li>
            进入流浪者营地，与数百万会员（具体会员数目尚未完全统计，但相信我，保护克拉拉小姐的人，就是有这么多。）共同分享克拉拉小姐足以令冰雪消融的温柔微笑。
        </li>
        <li>在克拉拉小姐向你问好后，悄悄躲在角落以不打扰到她的音量发出「哦呼」的感叹。</li>
        <li>
            以社群内公益服务和最优惠的价格向本协会周边部购入克拉拉小姐的微笑肖像画、兔子玩偶、脚印拓片等周边商品。（画手独眼老奥曾是知名艺术创作者，以其一系列传神的通缉令肖像画而著称。)
        </li>
        <li>
            最后，也是最光荣的是﹣﹣加本协会，你将获得一枚「克拉拉保护者」徽章（以不锈钢特制，象征我们对克拉拉小姐永不锈蚀的「保护」之心。)
        </li>
    </ol>
    <br/>
    <br/>
    <h1 class="text_mid">让上层区的人拥有自己的「大守护者」吧！下层区已经有了新的太阳，和忠于她、热爱她的「保护者」们！</h1>
    <br/>
    <br/>
    <ol>
        在享受本协会带来的诸多权益同时，你应避免：
        <li>擅自为克拉拉小姐提供便利（这会辜负克拉拉小姐的好意）。</li>
        <li>向克拉拉小姐询问流浪者营地生活起居以外的相关问题（不打探他人隐私应该是人的基本素养）。</li>
        <li>为进一步接近克拉拉小姐，与史瓦罗大佬形成任何亲属关系（包括但不限于：收养、结拜及婚姻关系）。</li>
        <li>该列事项将持续更新，最终解释权归本协会所有。</li>
    </ol>
    <br/>
    <br/>
    <a asp-area="" asp-page="Index">return</a>
</div>
-->

<div class="main_div_text">
    <iframe width="100%" height="800px" src="https://sway.office.com/s/MVKlj1G8BRrFvlo8/embed"
            max-width="100%" sandbox="allow-forms allow-modals allow-orientation-lock allow-popups allow-same-origin allow-scripts"
            style="border: none; max-width: 100%; 
        max-height: 100vh" allowfullscreen mozallowfullscreen msallowfullscreen webkitallowfullscreen>
    
    </iframe>
    <hr/>
    <a asp-area="" asp-page="Index">return</a>
    </div>